/*font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;*/

:root {
  --branding-color: #ffd11a;
  --secondary-color: #ddddbb;
  --access-color: #33331a;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
}

h1 {
  color: var(--branding-color);
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 100px;
}

.hero {
  background: #33331a;
  text-align: center;
  padding: 180px 20px;
}

.hero p {
  color: var(--secondary-color);
  font-weight: normal;
  font-size: 24px;
  margin: 0;
}

.hero h2 {
  color: var(--secondary-color);
  font-weight: normal;
  opacity: 75%;
  line-height: 2;
}

.content-container {
  text-align: center;
  padding: 0;
}

.content-container h1 {
  font-size: 65px;
  line-height: 1;
}

.content-container h2 {
  font-size: 27px;
  font-family: var(--default-font-family);
  opacity: 75%;
}

.content-container {
  font-size: 15px;
  opacity: 90%;
}

.content {
  margin: 30px;
  padding: 160px 15px;
}

.btn-branding {
  color: var(--branding-color);
  font-size: 18px;
  line-height: 27px;
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  padding: 15px 30px;
}

.btn-branding:hover {
  background: var(--branding-color);
  color: #33331a;
  cursor: pointer;
  transition: 2.5ms ease-in-out;
}

.img-fluid {
  border-radius: 9px;
  max-width: 75%;
  max-height: 75%;
  margin-top: 70px;
}
